services:

  setlisttoplaylist.api.csharp:
    image: ${DOCKER_REGISTRY-}setlisttoplaylistapi
    build:
      context: ./BackEnd/CSharp/SetlistToPlaylist.Api
      dockerfile: Dockerfile
    environment:
        ASPNETCORE_HTTPS_PORTS: "5001"
    ports:
        - "5001:8081"

  setlisttoplaylist.client.react:
    image: setlisttoplaylistclientreact
    build:
      context: ./FrontEnd/react
      dockerfile: Dockerfile
    environment:
        - VITE_API_BASE_URL="https://127.0.0.1:5001/"
    ports:
        - "3001:3001"
    depends_on: 
        - setlisttoplaylist.api.csharp